keras==3.13.2
matplotlib==3.10.8
numpy==1.26.4
pandas==3.0.1
perceval_quandela==0.11.1
qiskit==2.3.1
qiskit_aer==0.17.2
qiskit_experiments==0.13.0
qiskit_ibm_runtime==0.45.1
qutip==5.2.3
scikit_learn==1.8.0
scipy==1.17.1
sdeint==0.3.0
tensorflow==2.21.0
torch==2.0.1
snakemake==7.32.4
pytest==9.0.2
